body {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: rgb(250, 193, 0);
    color: rgb(15, 14, 18);/* #393a45;*/
    min-height: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
#message-banner {
    width: 100%;
    color: #000000;
    font-size: 24px;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    background-color: rgb(200, 200, 205);
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: none;
}
.two-box {
    display: inline-block;
}
.lfo-box {
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    color: #333333;
    padding: 10px 20px;
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    text-align: left;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #5f5f5f;
    border-radius: 25px;
}
.dim {
    opacity: .3;
}
.blue {
    background: #46b5ed;
}
.green {
    background: #00d269;
}
.white {
    background: #ffffff;
}
.orange {
    background: #ff6d17;
}
.top {
    white-space: nowrap;
}
.cc-label {
    cursor: default;
    font-weight: bold;
}
.on-off {
    float: right;
    cursor: pointer;
}
.canvas-wrapper {
    min-width: 300px;
}
.wave {
    clear: both;
    font-size: 25px;
}
.template {
    display: none;
}
.wave-select {
    border: 1px solid black;
    background: none;
    border: none;
    border-radius: 0px;
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
    outline: none;
    width: 165px;
    cursor: pointer;
}
.control-box {
    margin: 10px 0;
}
.control-wrapper {
    display:inline;
    float: right;
}
label {
    font-size: 25px;
    display: inline-block;
}
.input {
    font-size: 25px;
    width: 100px;
    vertical-align: middle;
    border: none;
    background: none;
    text-align: right;
    color: #333333;
    border-bottom: 3px solid #333333;
    outline: none;
}
.knob {
    border: 3px solid #333333;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: grab;
    cursor: -webkit-grab;
}
.knob .inner {
    width: 100%;
    height: 100%;
    cursor: grab;
    cursor: -webkit-grab;
}
.knob .inner .tick {
    position: absolute;
    left: 50%;
    top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1.5px;
    height: 15px;
    width: 3px;
    background: #333333;
}
.band {
    background: linear-gradient(to bottom, #2a2931, #0f0f17);
    padding: 25px 0;
    z-index: 1;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3)
}
.band .jumbo {
    margin-bottom: 30px;
}
@media (min-width: 1000px) {
    .band .container {
        display: flex
    }
    .band .container .jumbo {
        width: 30%;
        margin-bottom: 0;
    }
}
.container {
    padding: 0 20px;
    max-width: 1300px;
    margin-left: 5%;
    margin-right: 0
}
@media (min-width: 700px) {
    .container {
        padding: 0 40px
    }
}
.jumbo {
    font-size: 32px;
    font-weight: 100;
    text-align: left;
    color: #fff;
    margin-left: 30px;
}
@media (min-width: 700px) {
    .jumbo {
        font-size: 35px;
        line-height: 68px
    }
}
.title {
    font-weight: bold;
    margin-left: 15px;
}
.tagline {
    font-size: 22px;
    line-height: 5px;
    margin-left: 15px;
}
.ohpeeone{
    -webkit-animation: color-change 20s infinite;
    -moz-animation: color-change 20s infinite;
    -o-animation: color-change 20s infinite;
    -ms-animation: color-change 20s infinite;
    animation: color-change 20s infinite;
}

@-webkit-keyframes color-change {
    20% { color: #46b5ed; }
    40% { color: #00d269; }
    60% { color: #ffffff; }
    80% { color: #ff6d17; }
}
@-moz-keyframes color-change {
    20% { color: #46b5ed; }
    40% { color: #00d269; }
    60% { color: #ffffff; }
    80% { color: #ff6d17; }

}
@-ms-keyframes color-change {
    20% { color: #46b5ed; }
    40% { color: #00d269; }
    60% { color: #ffffff; }
    80% { color: #ff6d17; }
}
@-o-keyframes color-change {
    20% { color: #46b5ed; }
    40% { color: #00d269; }
    60% { color: #ffffff; }
    80% { color: #ff6d17; }
}
@keyframes color-change {
    20% { color: #46b5ed; }
    40% { color: #00d269; }
    60% { color: #ffffff; }
    80% { color: #ff6d17; }
}
/* Bootstrap Overrides */
label {
    font-weight: normal;
}
.glyphicon {
    top: 5px;
}
.page-header, .row {
    text-align: left;
}
.navbar {
    min-height: 165px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

